.body {
  width: 90vw;
  margin: 5rem;
  padding: 3rem;
  border: orange 2px solid;
  box-shadow: orange 0px 0px 5px 5px;
  background-color: rgb(73, 61, 73);
  border-radius: 15px;
  min-height: 50rem;
}
